<?php

return array(
    'modules' => array(
    	'Zend\Router',
    	'Zend\Filter',
    	'Confidences\ZendGeoip'
    ),
    'module_listener_options' => array(
        'config_glob_paths' => array(
            __DIR__ . '/config/{,*.}tests.php',
        ),
    ),
);
